

.body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    max-width: 360px;
    margin: auto;
}

.content-section_theme_dark {
    background-color: #131313;
    color: #F5F5F5;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
}

.header {
    padding: 24px 20px;
    display: flex;
    width: 360px;
    height: 132px;
    align-items: flex-start;
    gap: 168px;
    flex-shrink: 0;
}

.header_logo-image {
/*картинка логотипа */
    background-repeat: no-repeat;
    flex-shrink: 0;
    width: 78.453px;
    height: 15.432px;
}

.header_menu {
/* контейнер с меню */
    display: flex;
    flex-direction: column;
    align-content: right;
}

.header_menu-list {
/* список пунктов меню */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: right;
    gap: 12px;
}

.header_menu-item {
/* пункт меню */
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.header_menu-item_active {
/* активный пункт меню */
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
}

.header_menu-link {
/* ссылка в пункте меню */
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration:underline;
}

.cover {
    background-image: url(/images/cover.svg);
    background-repeat: no-repeat;
    background-position: left 20px bottom 30px;
    background-size: 95% auto;
    min-height: min-content; 
    color: #FFF;
    padding: 7px 24px 35px 20px;
}

.cover_title {
    /* заголовок */
    font-family: 'EB Garamond', serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 100%;
}

.accent-span {
    /* все строки */
    display: block;
    padding-right: 0;
}

.text-center {
    /* строка с выравниванием текста по центру */
    text-align: center;
}

.text-right {
    /* строка с выравниванием текста по правому краю */
    text-align: right;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px 38px;
}

.intro_heading {
    /* контейнер для элементов заголовка */
    display: flex;
    justify-content: space-between;
    color: #CCC;
    line-height: 120%;
}

.intro_title {
    /* заголовок */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.intro_date {
    /* дата публикации */
    white-space: nowrap;
    color: #CCC;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    gap: 24px;
}

.intro_main-text {
    /* контейнер для текста */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 20px 40px 20px;
}

.content-section_subtitle {
    /* заголовок */
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    line-height: 115%;
    font-weight: 500;
    padding-bottom: 32px;
}

.accent-span {
    display: block;
    padding-right: 0;
}

.text-right {
    text-align: right;
}

.content-section_introduction {
    /* абзац перед списком */
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    padding-bottom: 32px;

}

.content-section_list {
    /* список */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
}

.content-section_list-item {
    /* пункт списка */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 16px;
}

.content-section_list-accent {
    /* выделенный жирным начертанием текст внутри списка */
    font-family: 'Inter', sans-serif;
    font-size: 700;
    font-weight: bold;
    font-size: 16px;
}

.how-to {
    padding: 40px 20px 60px 20px;
    
}

.card {
    /* для карточек в how to */
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 30px;
    padding: 20px;
    list-style: none;
}

.cards-list {
    /* список карточек */
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
}

.card_theme_dark {
    /* цветовой модификатор карточек */
    background-color: #343434;
}

.card_theme_bright {
    /* цветовой модификатор карточек */
    background-color: #FEE42A;
    color: #131313;
}

.card_author {
    /* контейнер с информацией об авторе */
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 30px;
    margin-bottom: 8px;
}

.card_author-name {
    /* имя автора */
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-size: normal;
    font-weight: 700;
    line-height: 135%;
}

.card_author-photo {
    /* фото автора */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-bottom: 8px;
}

.card_content {
    /* контейнер для контента карточки */
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 8px;
    list-style: none;
}

.card_title {
    /* заголовок перед текстом карточки */
    color: #F5F5F5;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
    padding-bottom: 8px;
    list-style: none;
}

.card_text {
    /* контейнер для текста карточки */
    align-self: stretch;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-size: normal;
    line-height: 135%;
    list-style: none;
}

.card_text-only {
    color: #131313;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-size: normal;
    line-height: 135%;
}

.footer {
    border-top: 1px solid #FEE42A;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.footer_copy {
    /* блок с копирайтом */
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.footer_links {
    /* список ссылок */
    display: flex;
    align-items: flex-start;
    gap: 16px;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    list-style: none;
    text-decoration: none;
}